extends layout

block content
  .row
    .col-sm-12
      h1 Welcome, O life!
      p I go to encounter for the millionth time the reality of experience and to forge in the smithy of my soul the uncreated conscience of my race.
  
  .row
    .col-sm-4.col-sm-offset-4
      .col-xs-10.col-xs-offset-1
        button.btn.btn-block.btn-lg.btn-primary.emitter(data-channel='up', data-value='', data-keyboard='38')
          span.glyphicon.glyphicon-chevron-up
          | &nbsp; forward &nbsp;
          span.glyphicon.glyphicon-chevron-up
  .row
    br
    .col-sm-2.col-sm-offset-3
      .col-xs-10.col-xs-offset-1
        button.btn.btn-block.btn-lg.btn-warning.emitter(data-channel='left', data-value='', data-keyboard='37')
          span.glyphicon.glyphicon-chevron-left
          | &nbsp; left
    .col-sm-2
      .col-xs-10.col-xs-offset-1
        button.btn.btn-block.btn-lg.btn-danger.emitter(data-channel='stop', data-value='', data-keyboard='13')
          span.glyphicon.glyphicon-chevron-stop
          | &nbsp; stop
    .col-sm-2
      .col-xs-10.col-xs-offset-1
        button.btn.btn-block.btn-lg.btn-success.emitter(data-channel='right', data-value='', data-keyboard='39')
          | right &nbsp;
          span.glyphicon.glyphicon-chevron-right
  .row
    br
    .col-sm-4.col-sm-offset-4
      .col-xs-10.col-xs-offset-1
        button.btn.btn-block.btn-lg.btn-default.emitter(data-channel='down', data-value='', data-keyboard='40')
          span.glyphicon.glyphicon-chevron-down
          | &nbsp; back &nbsp;
          span.glyphicon.glyphicon-chevron-down

  .row
    .col-sm-12
      hr
      .form-horizontal
        .form-group
          label.col-sm-4 feedback from server
          .col-sm-8
            textarea#feedback.form-control(disabled)
    
