extends layout

block content
  .row
    .col-sm-12.text-center
      h1 basic bot
      p there's also keyboard steering: up,down,left,right
    .col-sm-12
      hr
  .row
    .col-sm-4.col-sm-offset-4.col-xs-12
        button.btn.btn-block.btn-lg.btn-success.text-center.emitter(data-channel='up', data-value='')
          span.glyphicon.glyphicon-chevron-up
          | &nbsp; forward &nbsp;
          span.glyphicon.glyphicon-chevron-up
  .row
    br
    .col-sm-2.col-sm-offset-3.col-xs-4
      button.btn.btn-block.btn-lg.btn-warning.text-center.emitter(data-channel='left', data-value='')
        span.glyphicon.glyphicon-chevron-left
        | &nbsp; left
    .col-sm-2.col-xs-4
      button.btn.btn-block.btn-lg.btn-danger.text-center.emitter(data-channel='stop', data-value='')
        span.glyphicon.glyphicon-remove
        | &nbsp; stop &nbsp;
        span.glyphicon.glyphicon-remove
    .col-sm-2.col-xs-4
      button.btn.btn-block.btn-lg.btn-primary.text-center.emitter(data-channel='right', data-value='')
        | right &nbsp;
        span.glyphicon.glyphicon-chevron-right
  .row
    br
    .col-sm-4.col-sm-offset-4.col-xs-12
      button.btn.btn-block.btn-lg.btn-default.text-center.emitter(data-channel='down', data-value='')
        span.glyphicon.glyphicon-chevron-down
        | &nbsp; back &nbsp;
        span.glyphicon.glyphicon-chevron-down

  .row
    .col-sm-12
      hr
      .form-horizontal
        .form-group
          label.col-sm-4 feedback from server
          .col-sm-8
            textarea#feedback.form-control(disabled)
    
