extends layout

block content
  .row
    br
    .col-sm-12.text-center
      img#still(width='320px', height='240px', src='/motion/stil.jpg')
  .row
    hr
    br
  .row
    .col-sm-4.col-sm-offset-4.col-xs-12
        button.btn.btn-block.btn-lg.btn-success.emitter(data-channel='up', data-value='', data-keyboard='38')
          span.glyphicon.glyphicon-chevron-up
          | &nbsp; forward &nbsp;
          span.glyphicon.glyphicon-chevron-up
  .row
    br
    .col-sm-2.col-sm-offset-3.col-xs-4
      button.btn.btn-block.btn-lg.btn-warning.emitter(data-channel='left', data-value='', data-keyboard='37')
        span.glyphicon.glyphicon-chevron-left
        | &nbsp; left
    .col-sm-2.col-xs-4
      button.btn.btn-block.btn-lg.btn-danger.emitter(data-channel='stop', data-value='', data-keyboard='13')
        span.glyphicon.glyphicon-remove
        | &nbsp; stop &nbsp;
        span.glyphicon.glyphicon-remove
    .col-sm-2.col-xs-4
      button.btn.btn-block.btn-lg.btn-primary.emitter(data-channel='right', data-value='', data-keyboard='39')
        | right &nbsp;
        span.glyphicon.glyphicon-chevron-right
  .row
    br
    .col-sm-4.col-sm-offset-4.col-xs-12
      button.btn.btn-block.btn-lg.btn-default.emitter(data-channel='down', data-value='', data-keyboard='40')
        span.glyphicon.glyphicon-chevron-down
        | &nbsp; back &nbsp;
        span.glyphicon.glyphicon-chevron-down
  .row
    hr
    br
  .row
    br
    .col-sm-4.col-sm-offset-4.col-xs-12
      input.input-lg(id="pwm", data-slider-id='pwm', type="text", data-slider-min="0", data-slider-max="1", data-slider-step="0.1", data-slider-value="0.75")

