if template == 'base'
  block content
else
  !!!
  html
    head
      -var title = title || "basic bot"
      title=title
      meta(name="viewport",content="width=device-width, initial-scale=1.0")
      !=css('bootstrap')
      block extra-head
    body
      if !user
        #signup.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                h3 sign up
              .modal-body
                .row
                  .col-sm-10.col-sm-offset-1
                    form.form-horizontal(action='/auth/registerEmail', method='post')
                      .row
                        .form-group
                          label.col-sm-4 email
                          .col-sm-5.col-sm-offset-1
                            input.form-control(type='email', name='email', required)
                      .row
                        .form-group
                          label.col-sm-4 password
                          .col-sm-5.col-sm-offset-1
                            input.form-control(type='password', name='password', required)
                      .row
                        .form-group
                          label.col-sm-4 confirm password
                          .col-sm-5.col-sm-offset-1
                            input.form-control(type='password', name='passwordConfirm', required)
                      .row
                        .form-group
                          button.btn.btn-primary Submit
        #signin.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                h3 sign in
              .modal-body
                .row
                  .col-sm-10.col-sm-offset-1
                    form.form-horizontal(action='/auth/email', method='post')
                      .row
                        .form-group
                          label.col-sm-4 email
                          .col-sm-5.col-sm-offset-1
                            input.form-control(type='email', name='email', required)
                      .row
                        .form-group
                          label.col-sm-4 password
                          .col-sm-5.col-sm-offset-1
                            input.form-control(type='password', name='password', required)
                      .row
                        .form-group
                          button.btn.btn-primary Submit
      nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        .navbar-header
          a.navbar-brand(href='/')
            span.glyphicon.glyphicon-home
            | &nbsp; home
          button.navbar-toggle(data-toggle="collapse",data-target="#navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav
            //-if !user
              //-li
                //-a(href='#', data-toggle="modal", data-target="#signin") sign in
              //-li
                //-a(href='#', data-toggle="modal", data-target="#signup") sign up
            //-else
              //-li
                //-a(href='/profile') profile
      #content.container
        br
        br
        block content
  !=js('client')
