if template == 'base'
  block content
else
  !!!
  html
    head
      -var title = title || "basic bot"
      title=title
      meta(name="viewport",content="width=device-width, initial-scale=1.0")
      !=css('bootstrap')
      !=css('bootstrap-slider')
      block extra-head
    body
      #content.container
        block content
  !=js('client')
