@import "bootstrap.css"

.production-graph 
  .axis path, .axis line 
    fill none
    stroke #000
    shape-rendering crispEdges
  
  
  .x.axis path 
  

  .grid 
    stroke #ccc
    shape-rendering crispEdges
  
  
  .line 
    fill none
    stroke steelblue
    stroke-width 1.5px
  


.blue 
  color #428bca

.strong 
  font-weight bolder

html,body
  width 100%

#content
  margin-top 80px
